// variables
$bgColor: #121212;
$headingColor: #fcfcfc;

@mixin shadow {
   box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.5);
}
@mixin navShadow {
   box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

body {
   margin: 0;
   padding: 0;
   color: #dddddd;
   font-size: 16px;
   font-family: "Poppins", sans-serif;
   background-color: $bgColor;
   header {
      @include navShadow;
      height: 100px;
      display: flex;
      flex-direction: row;
      background-color: #1d1d1d;
      justify-content: space-between;
      align-items: center;
      padding: 0 2%;
      .logo-wrapper {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         .logo {
            font-size: 2rem;
            color: #34d399;
         }
         h1 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-left: 1rem;
            font-weight: 600;
         }
      }
      nav {
         height: 100%;
         display: flex;
         align-items: center;
         ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            li {
               padding: 0 1.5rem;
               a {
                  text-transform: uppercase;
                  font-weight: 600;
                  text-decoration: none;
                  color: #d4d4d4;
                  padding: 36px 0;
                  border-bottom: 3px solid transparent;
                  transition: all ease-out 0.2s;
                  &:hover {
                     border-bottom: 3px solid #10b981;
                     color: #fcfcfc;
                  }
               }
               .active-link {
                  border-bottom: 3px solid #34d399;
                  color: #34d399;
                  &:hover {
                     border-bottom: 3px solid #34d399;
                     color: #34d399;
                  }
               }
            }
         }
      }
   }

   // main section
   main {
      display: flex;
      flex-direction: row;
      padding: 2%;
      margin: 2rem 0;

      article {
         display: flex;
         flex: 4;
         flex-direction: column;
         padding-right: 2rem;
         h2 {
            color: $headingColor;
            font-size: 3rem;
            font-weight: 600;
            margin: 0;
         }
      }

      aside {
         @include shadow;
         background-color: #1d1d1d;
         text-align: center;
         width: auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         border-radius: 5px;
         h2 {
            color: $headingColor;
            font-size: 1.75rem;
            font-weight: 500;
         }
         a {
            display: flex;
            height: auto;
            justify-content: center;
            align-items: center;
            margin-top: 0.5rem;
            img {
               height: auto;
            }
            &:last-child,
            &:first-of-type {
               margin: 0;
            }
         }
         .load_more_pictures {
            color: #d4d4d4;
            text-decoration: none;
            height: 60px;
            width: 100%;
            border-bottom: 4px solid #10b981;
            transition: all ease-out 0.2s;
            cursor: pointer;
            margin-top: 0.5rem;
            &:hover {
               background-color: #10b981;
               border-bottom: 4px solid #047857;
               color: white;
            }
         }
         .unloaded_pictures {
            display: none;
            a {
               margin-top: 0.5rem;
            }
         }
      }
   }

   // footer section
   footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: $bgColor;
      border-top: 1px solid #1d1d1d;
      padding: 1.5rem 0;
      p {
         color: #747474;
         a {
            color: #888888;
         }
      }
   }
}